h1
{
  background-color: #00a6ff;
  color: white;
  font-family: Verdana, sans-serif;
  text-align: center;
}

.chui
{
  font-weight: bolder;
  font-family: sans-serif;
  text-align: center;
}

.list
{
  font-family: Verdana, sans-serif;
  color: orange;
}

#element-list
{
  color: #00999e;
}

#chef
{
  width: auto;
  height: auto;
}
